{% extends "base.html" %}

{% block content %}

<a href="/" class="back-link">
    <i class="fa-solid fa-arrow-left"></i>
    Voltar
</a>

<section class="page-title">
    <h1>Administração de Preços</h1>
    <p>Cadastre e atualize os preços agrícolas exibidos na plataforma</p>
</section>

<form class="send-form" method="POST">

    <div class="form-group">
        <label>Produto</label>
        <input type="text" name="produto" placeholder="Ex: Açaí" required>
    </div>

    <div class="form-group">
        <label>Unidade</label>
        <input type="text" name="unidade" placeholder="Ex: lata (14kg)" required>
    </div>

    <div class="form-group">
        <label>Preço atual</label>
        <input type="number" step="0.01" name="preco_atual" placeholder="Ex: 85.00" required>
    </div>

    <div class="form-group">
        <label>Preço anterior</label>
        <input type="number" step="0.01" name="preco_anterior" placeholder="Ex: 80.00" required>
    </div>

    <div class="form-group">
        <label>Fonte</label>
        <input type="text" name="fonte" placeholder="Ex: Feira local / produtores locais" required>
    </div>

    <div class="form-group">
        <label>Data de atualização</label>
        <input type="date" name="data_atualizacao" required>
    </div>

    <button type="submit" class="send-button">
        Cadastrar preço
    </button>

</form>

<section class="admin-list" style="margin-top: 28px;">

    {% for preco in precos %}

    <div class="admin-card">

        <div class="admin-top">
            <div>
                <h2>{{ preco[1] }}</h2>
                <span>{{ preco[2] }} • Fonte: {{ preco[5] }}</span>
            </div>

            <div class="status-badge">
                {{ preco[7] }}
            </div>
        </div>

        <p class="admin-description">
            Atual: R$ {{ "%.2f"|format(preco[3]) }} |
            Anterior: R$ {{ "%.2f"|format(preco[4]) }} |
            Data: {{ preco[6] }}
        </p>

        <a href="/deletar_preco/{{ preco[0] }}" class="delete-btn">
            Excluir
            </a>

            <a href="/editar_preco/{{ preco[0] }}" class="edit-btn">
            Editar
            </a>

    </div>

    {% endfor %}

</section>

{% endblock %}