{% extends "base.html" %}

{% block content %}

<a href="/" class="back-link">
    ← Voltar
</a>

<section class="page-title">
    <h1>Preços Agrícolas</h1>
    <p>Preços atualizados dos principais produtos da região</p>
</section>

<section class="price-grid">

    {% for preco in precos %}

    <div class="price-card">

        <div class="price-top">
            <div>
                <h2>{{ preco[1] }}</h2>
                <p>{{ preco[2] }}</p>
            </div>

            {% if preco[7] == "subiu" %}
                <span class="status up">↗</span>
            {% elif preco[7] == "caiu" %}
                <span class="status down">↘</span>
            {% else %}
                <span class="status stable">→</span>
            {% endif %}
        </div>

        <hr>

        <h3>R$ {{ "%.2f"|format(preco[3]) }}</h3>

        <p>Anterior: R$ {{ "%.2f"|format(preco[4]) }}</p>
        <small>Fonte: {{ preco[5] }}</small>
        <p>
    Atualizado em:
    {{ preco[6].split('-')[2] }}/{{ preco[6].split('-')[1] }}/{{ preco[6].split('-')[0] }}
</p>

    </div>

    {% endfor %}

</section>

<div class="price-footer">
     📊 Preços de referência da feira local —
Atualizado em
{{ ultima_data.split('-')[2] }}/{{ ultima_data.split('-')[1] }}/{{ ultima_data.split('-')[0] }}
    <br>
    <span>
        Valores aproximados, sujeitos a variação conforme safra, transporte e negociação.
    </span>
</div>

{% endblock %}